.login 
  .container
    %h2.title Login
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true, autocomplete: 'email', input_html: { class: 'text-input' }, wrapper_html: { class: 'field' }, label_html: { class: 'label' }
      = f.input :password, autocomplete: 'current-password', input_html: { class: 'text-input' }, wrapper_html: { class: 'field' }, label_html: { class: 'label' }
      = f.submit 'Login', class: 'btn btn-primary btn-lg btn-block'
