.sub-header.p-3
  = link_to 'New Organization', new_admins_organization_path, class: 'btn btn-primary btn-sm'
%section.p-3
  %h1 Organizations
  %ul
    - @organizations.each do |org|
      %li
        = link_to org.name, edit_admins_organization_path(org)
