@font-face {
  font-family: 'Recoleta';
  src: url('fonts/recoleta/Recoleta-Medium.eot');
  src: local('fonts/recoleta/Recoleta Medium'), local('Recoleta-Medium'),
      url('fonts/recoleta/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/recoleta/Recoleta-Medium.woff2') format('woff2'),
      url('fonts/recoleta/Recoleta-Medium.woff') format('woff'),
      url('fonts/recoleta/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}