.list-group
  = link_to admins_organizations_path, class: 'item' do
    = image_tag 'binaryTree.svg', class: 'icon'
    %p.text Organizations
  = link_to destroy_admin_session_path, method: :delete, class: 'item' do
    %p.text Logout
